
<app-register></app-register>

<!-- <app-carousels [images]="images"
[autoSlide]="false"></app-carousels> -->

<app-imageslider></app-imageslider>

<div>
  <p>Random Number from child component:{{randomNumber||'Not yet generate'}}</p>
  <app-share [subjectChild]="subjectParent"
  (numberGenerated1)="onNumberGenerate($event)"></app-share>
</div>


 <!-- <div class="container">

  <h1>Select Your Role</h1>

  <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
            
    <div class="form-group">
        <label for="tehnology">Technology</label>
        <div *ngFor="let tech of techStackList">
          <label>
            <input type="checkbox" [value]="tech.code" (change)="controlOnChange($event)" />
            {{tech.name}}
          </label>
        </div>
    </div>
    
    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
</form>
<div class="col-md-4">
  <h4>No of Selected Technologies : {{selectedCheckBoxList.length}} </h4>
  <ul>
    <li *ngFor="let tech of selectedCheckBoxList">{{tech}}</li>
  </ul>
</div>

</div> -->
  <!-- <form [formGroup]="form" (ngSubmit)="submit()">

          

      <div class="form-group">

          <label for="website">Website:</label>

          <div *ngFor="let web of websiteList">

            <label>

              <input type="checkbox" [value]="web.id" (change)="onCheckboxChange($event)" />

              {{web.name}}

            </label>

          </div>

      </div>

      

      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>

  </form> -->



