.content
{
    max-width: 500px;
    margin: auto;
    background-color: aliceblue;
    padding: 2% 5%;
}
button
{
    background-color: lightgreen;
    color: crimson;
}
button:hover
{
    color: #000;
}
.error
{
    color:red;
}
body
 {
       background-color: blueviolet;
}