<p>register works!</p>

<div class="container mt-5">
<form class="content" [formGroup]="registerForm" (ngSubmit)="submitData()">
    <h3>Register Form</h3>

    <!-- firstname -->

    <div class="mt-2 mb-2 col-lg-6 col-6">
        <input type="text" class="form-control" formControlName="firstName" placeholder="First Name">

        <!-- display error start-->

        <div *ngIf="firstname.invalid && (firstname.touched || firstname.dirty) ">
            <span class="error" *ngIf="firstname.errors?.required">*First Name Is Required.</span>
            <span class="error" *ngIf="firstname.errors?.pattern">*Enter only characters.</span>
        </div>
         <!-- display error end-->
    </div>

    <!-- lastname -->

    <div class="mt-2 mb-2 col-lg-6 col-6">
        <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name">

        <!-- display error start-->

        <div *ngIf="lastname.invalid && (lastname.touched || lastname.dirty) ">
            <span class="error" *ngIf="lastname.errors?.required">*Last Name Is Required.</span>
            <span class="error" *ngIf="lastname.errors?.pattern">*Enter only characters.</span>
        </div>
         <!-- display error end-->


    </div>

    <!-- emailid -->

    <div class="mt-2 mb-2 col-lg-12 col-12">
        <input type="text" class="form-control" formControlName="emailId" placeholder="Email">

        <!-- display error start-->

        <div *ngIf="emailid.invalid && (emailid.touched || emailid.dirty) ">
            <span class="error" *ngIf="emailid.errors?.required">*Email Id Is Required.</span>
            <span class="error" *ngIf="emailid.errors?.email">*Enter Valid Email Address.</span>
        </div>
         <!-- display error end-->


    </div>

    <!-- mobileNumber -->

    <div class="mt-2 mb-2 col-lg-12 col-12">
        <input type="text" class="form-control" formControlName="mobileNumber" placeholder="Mobile Number">

        <!-- display error start-->

        <div *ngIf="mobilenumber.invalid && (mobilenumber.touched || mobilenumber.dirty) ">
            <span class="error" *ngIf="mobilenumber.errors?.required">*Mobile Number Is Required.</span>
            <span class="error" *ngIf="mobilenumber.errors?.pattern">*Enter Only Numbers.</span>
        </div>
         <!-- display error end-->


    </div>

   <!-- submit -->
    <div class="col-lg-12 col-12">
        <button class="btn" [disabled]="registerForm.invalid">Sumbit</button>
    </div>


</form>
</div>